.App {
  text-align: left;
}

.header {
  margin-top: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.footer {
  margin-left: 10px;
  margin-bottom: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
